<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Store Inventory</title>
</head>
<body>
    <h1>Categories</h1>

    <div>
        <% locals.categories.forEach(category => { %>
            <div>
                <h2><%= category.categoryname %></h2>
            </div>
        <% }); %>
    </div>
</body>
</html>