<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Store Inventory</title>
</head>
<body>
    <%-include("./partials/nav.ejs")%>
    <h1>Categories</h1>

    <a href="/categories/create">Create new category</a>

    <div>
        <% locals.categories.forEach(category => { %>
            <div>
                <h2><%= category.categoryname %></h2>
            </div>
            <div>
                <a href="/categories/update/<%= category.id %>">Edit</a>
                <form action="/categories/delete/<%= category.id %>" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </div>
        <% }); %>
    </div>
    
</body>
</html>