<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Store Inventory</title>
</head>
<body>
    <%-include("./partials/nav.ejs")%>
    <h1>Create a new category</h1>

    <div>
        <div>
            <%- include('./partials/errors.ejs') %>
        </div>
        <div>
            <form action="/categories/update/<%= category[0].id %>" method="POST">
                <label for="categoryname">Name</label>
                    <input name="categoryname" type="text" value="<%= category[0].categoryname %>"" required/>
                <button type="submit">Edit category</button>
            </form>
        </div>
    </div>

    <a href="/categories">Return to categories</a>
</body>
</html>