<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Store Inventory</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="navbar">
        <%-include("./partials/nav.ejs")%>
    </div>
    
    <div class="header">
        <h1>Update category</h1>
    </div>
    <div class="content">
        <div>
            <%- include('./partials/errors.ejs') %>
        </div>
        <div class="form">
            <form action="/categories/update/<%= category[0].id %>" method="POST">
                <label for="categoryname">Name</label>
                    <input name="categoryname" type="text" value="<%= category[0].categoryname %>"" required/>
                <button class="create-btn" type="submit">Edit category</button>
            </form>
        </div>
    </div>

    <div class="back-link">
        <a href="/categories">Return to categories</a>
    </div>
</body>
</html>